* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
}

img {
  width: 100%;
}
nav {
  border-bottom: 1.12pt #E7E7E7 solid;
  background-color: #F8F8F8;
  vertical-align: middle;
  padding-bottom: 28px;
  padding-top: 17px;

}
ul {
  list-style: none;
}
li {
  display: inline-block;
  font-size: 14px;
}
.nav-bar {
  display: inline-block;
  margin-left: 8%;
}
nav .nav-bar li {
  padding-left: 13px;
  padding-right: 13px;
}

body {
background-color: #F4F4F4;
}
main {
  display: inline-block;
  float: left;
  max-width: 54.5%;
  text-align: center;
  padding: 10px;
}
aside {
  display: inline-block;
  max-width: 27.5%

}
article {
  margin: 40px 30px;
  /* border: 1pt solid black; */
  background-color: #FFFFFF;
  text-align: center;
}
.article-footer {
  color: #AAA;
  font-size: 14px;
  display: inline-block;
  position: absolute;
  left: 10%;
}
.footer-icons {
display: inline-block;
margin-left: 50%;
}
.kotha {
  border: 6pt solid white;
  border-radius: 100%;
  width: 40%;
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: 2;
}
.kotha-smith-article {
  position: relative;
  background-image: url('/images/mountains.jpg');
  background-position: center;
  background-attachment: scroll;
}

.footer img {
  width: 12.5%;
  height: 12.5%;
  float: left;
}
.instagram img{
  display: flex;
  justify-content: block;
  /* flex-direction: column;
  flex-wrap: wrap; */
  height: 9.5%;
  width: 9.5%;
}
.icons {
  color: #AAAAAA;
  display: inline-block;
  float: right;
  margin-right: 181px;
}
i {
  margin: 0 7px;
  font-size: 14px;
}
a {
  color: #AAAAAA;
  text-decoration: none;
}
a:hover {
  color: #D17255;
}
.nav-bar-link {
  color: black;
}
/* li::after {
    content: "";
    display: table;
    clear: both;
} */
