* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Playfair Display', serif;
}

img {
  width: 100%;
}
nav {
  border-bottom: 1.12pt #E7E7E7 solid;
  background-color: #F8F8F8;
  padding-bottom: 10px;
  /* vertical-align: middle; */

}
ul {
  list-style: none;
}

li {
  font-family: 'Lato';
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 13px;
}
.nav-bar {
  display: inline-block;
  margin-left: 6.9%;
}
nav .nav-bar li {
  padding-left: 12.5px;
  padding-right: 12.5px;
  padd
}

body {
background-color: #F4F4F4;
}
main {
  display: inline-block;
  margin-top: 15px;
  max-width: 56.9%;
  text-align: center;
  padding: 10px;
  position: absolute;
  left: 7.5%;
  margin-left: .5%;
}
aside {
  display: inline-block;
  max-width: 28.8%;
  position: relative;
  left: 62.95%;
  margin-top: 25px;
}
article {
  margin: 40px 30px;
  /* border: 1pt solid black; */
  background-color: #FFFFFF;
}
.article-footer {
  color: #AAA;
  font-size: 14px;
  font-style: italic;
  display: inline-block;
  position: absolute;
  left: 10%;
}
.footer-icons {
display: inline-block;
margin-left: 50%;
}
.kotha {
  border: 6pt solid white;
  border-radius: 100%;
  width: 40%;
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: 2;
}
.kotha-smith-article {
  position: relative;
  top: .25%;
  background-image: url('/images/mountains.jpg');
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
section {
  position: absolute;
  left: -2px;
}
.footer img {
  width: 12.5%;
  height: 12.5%;
  float: left;
}
.instagram img{
  display: flex;
  justify-content: block;
  /* flex-direction: column;
  flex-wrap: wrap; */
  height: 9.5%;
  width: 9.5%;
}
.icons {
  color: #AAAAAA;
  display: inline-block;
  float: right;
  margin-right: 160px;
  font-size: 16px;
}
i {
  margin: 0 7px;
  font-size: 14px;
}
a {
  color: #AAAAAA;
  text-decoration: none;
}
a:hover {
  color: #D17255;
}
.nav-bar-link {
  color: black;
}
h1 {
  color: #D17255;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Lato'
}
h2 {
  font-size: 30px;
  font-family: 'Oswald';
  font-weight: bolder;
  margin: 0 auto;
}
aside h2 {
  font-size: 21px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}
h3 {
  font-family: 'Oswald';
  transform: scale(1.1, 1);
  font-size: 15px;
  display: inline;
  padding: 20px;
}
div footer {
  color: grey;
  font-size: 14px;
  font-style: italic;
  margin: 20px;
  padding: 20px;
  border-bottom: 1pt solid #F0F0F0
}
button {
  font-family: 'Lato';
  background: none;
  font-size: 14px;
  font-weight: bolder;
  color: #D17255;
  padding: 10px 20px;
  border: 1pt solid #D17255;
  transform: scale(1.1, 1);
}
button:hover {
  background-color: #D17255;
  color: #FFFFFF;
}
/* li::after {
    content: "";
    display: table;
    clear: both;
} */
