* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0px;
}
img {
  width: 100%;
}
nav {
  width: 100%;
  border-bottom: 1pt #E7E7E7 solid;
  padding: 6px;
  background-color: #F8F8F8
}
ul {
  margin: 5px 110px;
}

li {
  list-style: none;
  display: inline-block;
  padding: 13px;
  font-size: 14px;
}

body {
background-color: #F4F4F4;
text-align: center;
}
main {
  display: inline-block;
  float: left;
  width: 50%;
}
aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%

}
article {
  margin: 20px;
  border: 1pt solid black;
  background-color: #FFFFFF;
}
.kotha {
  border: 6pt solid white;
  border-radius: 100%;
  width: 60%;
  position: relative;
  top: 30%;
  right: 17%;
  z-index: 2;
}
.footer {
  width: 211px;
  height: 221px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.instagram {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
